<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MongoDBConnectionString" value="mongodb://localhost/?safe=true" />
    <add key="MongoDBDatabase" value="ST7" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>